*
{
  background-color: rgb(208, 185, 185);
}

.student-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px; 
  margin-left: 50px;
  color: rgb(48, 30, 7);

}
.student-name {
  margin-left: 80px; 

}
.head
{
  margin-left: 220px;
  color: rgb(63, 37, 4);
}
.nav-btn
{
  margin-left: 400px;
  margin-top: 20px;
  background-color: rgb(148, 233, 236);
  padding: 10px;
}
.favourite-item
{
  margin-top: 20px;
}
.remove-btn
{
  background-color: #ec1216; 
  color: white;
  border: black;
  border-radius: 5px;
  margin-left: 500px;
  
}
.add-btn {
  padding: 5px 10px;
  background-color: #6a5907; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1000px;
}
